/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

/* Divider */
.b-example-divider {
  width: 100%;
  height: 3rem;
  background: linear-gradient(to bottom, white, lightgray);
  border: solid lightgray;
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

/* Navbar */
.navbar-toggler i {
  color: lightgray;
  font-size: 1.5rem;
}

/* Hero styles */
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  color: white;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-img {
  max-width: 75%;
  height: auto;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.9));
}

@media (max-width: 768px) {
  .hero {
    height: 100vh; /* Adjust the height for mobile viewports */
  }

  .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-caption {
    width: 100%;
    padding: 0 20px;
  }

  .hero-img {
    max-width: 100%;
    height: auto;
  }
}

/* About section */

.card-img {
  height: 75%;
  border-radius: 0px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .about-section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem !important;
  }

  .about-btn {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }

  .about-img-responsive {
    display: none;
  }
}

/* Contact Form */
@media (max-width: 768px) {
  .form-mob-margin {
    margin-top: 10px;
  }
}

/* Footer */
.custom-footer {
  background-color: #f8f9fa;
  padding: 2rem 0;
  text-align: left;
}

/* Social Buttons */
.social-button {
  color: #495057;
  font-size: 1.5rem;
  margin: 0.5rem;
  display: inline-block;
  text-decoration: none;
}

.social-button:hover {
  color: #007bff;
}

/* Back to Top */
.back-to-top {
  color: darkslategray;
  font-size: 1.5rem;
  display: inline-block;
  text-decoration: none;
}

.back-to-top:hover {
  color: black;
}
