* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

/* Font */
.barlow-condensed-thin {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-condensed-extralight {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-condensed-light {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-medium {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-condensed-semibold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-condensed-bold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-condensed-extrabold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-condensed-black {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-condensed-thin-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-condensed-extralight-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-condensed-light-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-condensed-regular-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-condensed-medium-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-condensed-semibold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-condensed-bold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-condensed-extrabold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-condensed-black-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.no-text-shadow {
  text-shadow: none;
}

/* Divider */
.b-example-divider {
  width: 100%;
  height: 3rem;
  background: linear-gradient(to bottom, white, lightgray);
  border: solid lightgray; /* Light gray border */
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

/* Buttons */
.btn-primary-custom {
  background-color: #fff;
  border-color: #88cff1;
  color: darkslategray;
  text-decoration: none;
  border-radius: 5px;
}

.btn-primary-custom:hover {
  background-color: #b8ebff;
  border-color: #b8ebff;
  color: #185574;
}

.btn-secondary-custom {
  text-decoration: none;
  border-color: #ffdddd;
}

.btn-secondary-custom:hover {
  background-color: #ffdddd;
  border-color: #ffdddd;
  color: #185574;
}

/* Navbar */
.navbar {
  background-color: #31363f;
}

.nav-link {
  color: #eeeeee !important;
}

.navbar-brand {
  margin-right: auto;
  color: white;
}

.navbar-toggler i {
  color: lightgray; /* Change the icon color */
  font-size: 1.5rem; /* Adjust the size */
}

.nav-link.active {
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Mobile-specific styles */
@media (max-width: 767.98px) {
  /* Keep the toggle button on the right side */
  .navbar-toggler {
    margin-left: auto;
  }

  /* Ensure smooth transition for mobile navbar */
  .navbar-collapse {
    display: flex;
    flex-direction: column; /* Make sure it stacks vertically */
    align-items: flex-end; /* Align items to the right */
    transition: opacity 0.15s ease, transform 0.25s ease; /* Smooth transitions */
    opacity: 0; /* Hide by default */
    transform: translateX(10px); /* Slightly hide off-screen */
  }

  .navbar-collapse.show {
    opacity: 1; /* Show when expanded */
    transform: translateY(0); /* Move into view */
  }

  /* Align navbar items to the right */
  .navbar-nav {
    text-align: right; /* Right-align text */
    width: 100%; /* Full width to apply text alignment */
    margin-top: 1rem; /* Adjust spacing if needed */
  }
}

/* Hero styles */
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  color: white;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-caption h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

.hero-caption p {
  font-size: 1.25rem;
  margin-bottom: 0.25em;
}

.hero-img {
  max-width: 50%;
  height: 100%;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.9));
}

/* About hero section */
.hero-secondary {
  background-color: #e6f6ff; /* Light gray background for the section */
}

.hero-secondary .hero-image {
  width: 75%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  position: relative;
  margin: 0 auto;
  display: block; /* Ensure the image behaves as a block element */
}

.hero-secondary .hero-text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Ensure overlay width matches image width */
  max-width: 90%; /* Prevents the overlay from being too wide */
  text-align: center;
  z-index: 1;
}

.hero-secondary .hero-overlay-background {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent grey background */
  padding: 20px;
  border-radius: 8px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  box-sizing: border-box; /* Ensure padding is included in width calculation */
  margin: 0 auto; /* Center align the overlay background */
}

.hero-secondary .hero-title-overlay {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-secondary .hero-description-overlay {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.hero-secondary .btn-primary-custom {
  margin-top: 1rem; /* Add margin to space out button */
}

.card-img {
  height: 75%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-secondary .hero-image {
    max-width: 90%;
    height: 100%;
    padding-top: 1.5rem;
  }

  .hero-secondary .hero-title,
  .hero-secondary .hero-title-overlay {
    font-size: 2rem;
  }

  .hero-secondary .hero-description,
  .hero-secondary .hero-description-overlay {
    font-size: 1rem;
  }

  .hero-secondary .hero-content {
    padding: 10px;
    text-align: center; /* Center align text content */
  }

  .hero-secondary .btn-primary-custom {
    display: inline-block; /* Ensure the button is an inline block element */
    margin: 0 auto; /* Center the button horizontally */
  }

  .hero-img {
    max-width: 90%;
    height: 100%;
    padding-top: 1.5rem;
  }
}

/* Gallery Styles */
.image-container {
  width: 100%;
  max-width: 600px; /* or any max-width you prefer */
  margin: 0 auto;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover; /* This maintains the aspect ratio and ensures the image covers the container */
}

/* Media styles */
.video-container,
.spotify-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.video-container iframe,
.spotify-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.apple-music-container {
  position: relative;
  width: 100%;
  max-width: 660px; /* Ensure it doesn't exceed the desired width */
  height: 175px; /* Fixed height, adjust as necessary */
  overflow: hidden;
  border-radius: 8px;
  margin: 0 auto; /* Center the container if needed */
}

.apple-music-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Full height of the container */
  border: 0;
  border-radius: 8px;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center; /* Center content horizontally */
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  border-radius: 50px; /* Ensure rounded pill shape */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effect */
}

.badge i {
  font-size: 1.25rem; /* Adjust icon size as needed */
}

.badge .me-2 {
  margin-right: 0.5rem; /* Adjust space between icon and text */
}

/* Add shadow effect on hover */
.badge:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
  transform: translateY(-2px); /* Optional: Adds a subtle lift effect */
}

.linktree-section {
  padding: 60px 0;
  background-color: #f8f9fa; /* Optional: Light gray background */
}

/* Card Styles */
.card-text {
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff;
}

/* Contact Form */
@media (max-width: 768px) {
  .form-mob-margin {
    margin-top: 10px;
  }
}

/* Footer */
.custom-footer {
  background-color: #f8f9fa;
  padding: 2rem 0;
  text-align: left; /* Center the footer content */
}

/* Social Buttons */
.social-button {
  color: #495057;
  font-size: 1.5rem; /* Make sure the size is appropriate */
  margin: 0.5rem; /* Add some space around buttons */
  display: inline-block; /* Ensure they take up space */
  text-decoration: none; /* Remove underline if present */
}

/* Social Button Hover State */
.social-button:hover {
  color: #007bff; /* Change color on hover */
}

/* Back to Top */
.back-to-top {
  color: #007bff;
  font-size: 1.5rem; /* Make sure the size is appropriate */
  display: inline-block; /* Ensure it is visible */
  text-decoration: none; /* Remove underline if present */
}

/* Back to Top Hover State */
.back-to-top:hover {
  color: #88cff1; /* Change color on hover */
}
