# Ignore node_modules directory
node_modules/

# Ignore npm's logs
npm-debug.log

# Ignore yarn's lock file
yarn.lock

# Ignore sensitive backend files
process.php

# Ignore any configuration files containing sensitive data
config.php